{% extends 'base.html.twig' %}

{% block body %}

        <h1>Bienvenue</h1>

        <img class="ui fluid image" src="https://open-stand.org/wp-content/uploads/2016/04/International-Union-of-Cinemas-Calls-for-Open-Standards-in-the-Cinema-Industry.jpg">

        

{% endblock %}